@charset "utf-8";

@import url('bootstrap.min.css');
@import url('owl.carousel.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 400;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative; 
}

c {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%; 
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {  width: 100%; }
p { margin: 0; padding: 0; }
.fltL { float: left; }
.fltR { float: right; }
.padding_none { padding: 0 !important;}
.border_none{border:none !important}
.navbar-toggle {  background-color: #fff !important; }
.icon-bar { background-color: #000 !important; }
.p_right0{ padding-right:0px !important }
.p_left0{ padding-left:0px !important } 

 
.Header {
    width: 100%;
    padding: 15px 0;
    transition: 0.5s all ease-in-out;
    z-index: 11;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #8e8e8e;
}
.Header .navbar {
    border: none;
    margin: 0;
    border-radius: 0;
    z-index: 99;
    position: relative;
    min-height: inherit;
}
.Header .navbar .navbar-brand {
    padding: 0;
    margin: 0;
    width: 5;
    height: auto;
}
.Header .navbar .navbar-nav {
    margin: 15px 0 15px 20px;
}
.Header .navbar .navbar-nav li {
    margin: 0 30px 0 0;
    position: relative;
}
.Header .navbar .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    background: transparent;
    padding: 0 0;
    position: relative;
    text-transform: capitalize;
    transition: all 0.5s ease-in-out;
    font-weight: 400;
    font-family: Roboto;
}
.Header .navbar .navbar-nav li a:hover {
    color: #fbaf31;
}
.Header .navbar .navbar-nav.navbar-right {
    margin: 5px -15px 5px 0;
}
.Header .navbar .navbar-nav.navbar-right li {
    margin: 0 0 0 10px;
}
.Header .navbar .navbar-nav.navbar-right li a {
    padding: 10px 25px;
    border-radius: 50px;
    color: #000;
    font-size: 15px;
    text-transform: inherit;
    background-color: #fbaf31;
}
.Header .navbar .navbar-nav.navbar-right li a:hover {
    background-color: #00a94f;
    color: #fff;
}
.Header .navbar .navbar-nav.navbar-right li:first-child a {
}
.Header .navbar .navbar-nav.navbar-right li:first-child a:hover {
}
/*.Fixed {
    animation: 0.7s ease 0s normal none 1 running;
    position: fixed;
    transition: all 0.5s ease-in-out;
    background: #c60000;
    top: 0;
    box-shadow: 0 1px 8px #999;
    z-index: 99;
    height: auto;
    padding: 16px 0;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}*/

.Fixed{
    animation:0.7s ease 0s normal none 1 running;
    position:fixed;
    transition:all 0.5s ease-in-out;
    top:0;
    left: 0;
    width: 100%;
    z-index:99;
    background-image: url('https://jobyoda.com/webfiles/img/Philippines.png');
    border: none
}

.Fixed:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000096;
    z-index: 1;
}

@keyframes slide-down{
    0%{opacity:0;transform:translateY(-100%)}
    100%{opacity:.9;transform:translateY(0)}
}

.SliderArea {
    background-image: url('https://jobyoda.com/webfiles/img/Philippines.png') !important;
    background-repeat: repeat-x;
    /*animation: animate linear 90s infinite;*/
    position: relative;
    padding: 90px 0 15px 0;
    background-position: 0% 0%;
}
.SliderArea:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000096;
    z-index: 1;
}
@keyframes animate {
    form {
        background-position: 0;
    }
    to {
        background-position: 2000px;
    }
}
.SliderArea .SliderText {
    position: relative;
    z-index: 2;
    color: #fff;
    font-family: "Quicksand", sans-serif;
}
.SliderArea .SliderText h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin: 0px 0 9px;
    line-height: 29px;
}
.SliderArea .SliderText h3 span{
    color: #fbaf31
}
.SliderArea .SliderText h4 {
    margin: 0 0 6px 0;
    font-weight: 600;
    line-height: 17px;
    font-size: 14px;
}
.SliderArea .SliderText ul li {
    display: inline-block;
    font-weight: 600;
    font-size: 11px;
}
.SliderArea .SliderText ul li a {
    color: #fff;
}
.SliderArea .DownloadApp {
    position: relative;
    z-index: 2;
    padding: 0px 0;
    display: flex;
}
.SliderArea .DownloadApp .download-btn {
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 5px 15px;
    border-radius: 4px;
    display: flex;
    float: left;
    margin: 10px 15px 10px 0;
    min-width: 150px;
    font-family: Roboto;
}
.SliderArea .DownloadApp .download-btn span {
    font-size: 28px;
    line-height: 28px;
    margin-right: 10px;
    color: #fff;
}
.SliderArea .DownloadApp .download-btn p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    line-height: 21px;
}
.SliderArea .DownloadApp .download-btn p small {
    font-size: 13px;
    line-height: 12px;
    font-family: roboto;
    font-weight: 500;
}
.SliderArea .DownloadApp a:hover {
    background: #fff;
}
.SliderArea .DownloadApp a:hover span {
    color: #1f4f78;
}
.SliderArea .DownloadApp a:hover p {
    color: #1f4f78;
}
.AdvertisementArea {
    padding: 20px 0 20px;
    background-color: #f5f7f6;
    text-align: center;
}
.AdvertisementArea h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    border-left: 5px solid #084d87;
    padding: 0 0 0 16px;
    margin: 0 0 20px 0;
}
.AdvertisementArea h1 a {
    float: right;
    font-size: 16px;
    margin: 7px 0;
    text-transform: capitalize;
    color: #000;
}

.AdvertisementArea h1 a:hover {
    color: #fbaf31;
}

.AdvertisementArea #Advertisement .item {
    padding: 10px;
}

.AdvertisementArea .AdvertisementBox {
    border: 5px solid #fff;
    box-shadow: 0 1px 8px #ddd;
    background-color: #fff;
    width: 100%;
    margin: auto;
    height: 200px
}

.AdvertisementArea .AdvertisementBox figure,
.AdvertisementArea .AdvertisementBox figure a,
.AdvertisementArea .AdvertisementBox figure a img{
    height: 100%;
    display: block;
}

/*
.AdvertisementArea figure img{
    border: 4px solid #fff; 
    border-radius: 6px;
}

.AdvertisementArea .AdvertisementBox span {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #000;
    padding: 10px 10px;
    width: 100px;
}

.AdvertisementArea .AdvertisementBox span img {
    width: 100%;
}

.AdvertisementArea .AdvertisementBox img {
    width: 100%;
}

*/

.AdvertisementArea .AdvertisementBox p{
    padding: 10px 10px;
    font-size: 14px;
    line-height: 25px;
    font-family: Roboto;
}

.AdvertisementArea #Advertisement .owl-dots{
    margin: 10px 0 0 0;
}

.AdvertisementArea #Advertisement .owl-dots .owl-dot{
    width: 12px;
    height: 12px;
    background-color: #c7c7c7;
    margin: 0 7px;
    border-radius: 50px;
    outline: 0;
}

.AdvertisementArea #Advertisement .owl-dots .owl-dot span{
    display: none;
}

.AdvertisementArea #Advertisement .owl-dots .owl-dot.active{
    background: #084d87;
}






.CompanyArea {
    padding: 30px 0 0px;
    background-color: #fff;
    background: #f5f7f6;
}
.CompanyArea h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    border-left: 5px solid #084d87;
    padding: 0 0 0 16px;
    margin: 0 0 10px 0;
}
.CompanyArea h1 a {
    float: right;
    font-size: 16px;
    margin: 7px 0;
    text-transform: capitalize;
    color: #000;
}

.CompanyArea h1 a:hover {
    color: #fbaf31;
}

.CompanyArea h2{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    font-family: Roboto;
    margin: 0 0 15px 0;
}

.CompanyArea #Company .item {
    padding: 10px 5px;
}

.CompanyArea #Company .owl-nav .owl-prev,
.CompanyArea #Company .owl-nav .owl-next {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    outline: 0;
}

.CompanyArea #Company .owl-nav .owl-prev {
    left: -15px;
}

.CompanyArea #Company .owl-nav .owl-next {
    right: -15px;
}

.CompanyArea .CompanyBox {
    background-color: #fff; 
    text-align: center;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin: 0 0 30px 0;
}

.CompanyArea .CompanyBox figure {
    height: 150px;
    overflow: hidden;
}

.CompanyArea .CompanyBox figure a {
    display: block;
    height: 100%;
}

.CompanyArea .CompanyBox figure img {
    width: 100%;
    height: 100%;
}

.CompanyArea .CompanyBox figcaption{
    padding: 20px 20px;
}

.CompanyArea .CompanyBox figcaption h3 {
    color: #000;
    font-size: 17px;
    margin: 0 0 15px 0;
    font-family: Roboto;
    line-height: 25px;
    min-height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.CompanyArea .CompanyBox figcaption h3 a{
    color: #343434;
}

.CompanyArea .CompanyBox figcaption h3 a:hover{
    color: #084d87;
}

.CompanyArea .CompanyBox figcaption p {
    font-size: 14px;
    font-family: Roboto;
    color: #5d5b5b;
    margin: 0;
}

.CompanyArea .CompanyBox figcaption p i{
    margin: 0 5px 0 0
}

.CompanyArea .CompanyBox figcaption p span{
    color: #00a94f;
    font-weight: 500;
}

/*.CompanyArea .CompanyBox a {
    background-color: #00a94f;
    color: #fff;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 13px;
}*/

.CityArea {
    padding: 30px 0 0;
}
.CityArea h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    border-left: 5px solid #084d87;
    padding: 0 0 0 16px;
    margin: 0 0 10px 0;
}
.CityArea h1 a {
    float: right;
    font-size: 16px;
    margin: 7px 0;
    text-transform: capitalize;
    color: #000;
}
.CityArea h1 a:hover {
    color: #fbaf31;
}

.CityArea h2{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    font-family: Roboto;
    margin: 0 0 15px 0;
}


.CityArea #City .item {
    padding: 10px 5px;
}

.CityArea .CityBox {
    cursor: pointer;
    margin: 0 0 30px 0;
}

.CityArea .CityBox figure {
    height: 155px;
    overflow: hidden;
}

.CityArea .CityBox figure a{
    display: block;
    height: 100%;
}

.CityArea .CityBox figure a img{
    height: 100%;
    width: 100%
}

.CityArea .CityBox figcaption {
    padding: 15px 20px;
    font-family: Roboto;
    box-shadow: 0 3px 6px #ddd;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

.CityArea .CityBox figcaption h5 {
    margin: 0 0 2px;
    font-size: 19px;
}

.CityArea .CityBox figcaption p {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}

h1.Title {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    border-left: 5px solid #084d87;
    padding: 0 0 0 16px;
    margin: 0 0 10px 0;
}

h1.Title a {
    float: right;
    font-size: 16px;
    margin: 7px 0;
    text-transform: capitalize;
    color: #000;
}

h1.Title a:hover {
    color: #fbaf31;
}

.ExpertiseArea {
    padding: 0px 0 0;
    background-color: #fff;
}

.ExpertiseArea h2{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    font-family: Roboto;
    margin: 0 0 15px 0;
}

.ExpertiseArea .item{
    padding: 15px
}


.ExpertiseArea .ExpertiseBox {
    padding: 40px 30px 35px 30px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #fff;
    border: 1px solid #e8eef1;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    font-family: Roboto;
    cursor: pointer;
    margin: 0 0 30px 0;
}
.ExpertiseArea .ExpertiseBox figure {
    margin: 0 auto 20px;
    width: 40px;
    height: 40px;
}
.ExpertiseArea .ExpertiseBox a h3,
.ExpertiseArea .ExpertiseBox h3 {
    margin: 0 0 5px;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
}
.ExpertiseArea .ExpertiseBox a p,
.ExpertiseArea .ExpertiseBox p {
    font-size: 14px;
    color: #11b719;
}
.ExpertiseArea .ExpertiseBox span.Icon {
    color: #e8e8e8;
    position: absolute;
    bottom: 5px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 5px;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    width: 35px;
    height: 35px;
}
.ExpertiseArea .ExpertiseBox span.Icon img {
    width: 100%;
}
.ExpertiseArea .ExpertiseBox:hover span.Icon {
    bottom: 15px;
    visibility: visible;
    pointer-events: auto;
    left: 15px;
    opacity: 0.4;
    filter: alpha(opacity=100);
}
.JobArea {
    padding: 30px 0 0px;
}

.JobArea h1.Title span{
    display: inline-block;
    width: 30px;
    filter: brightness(0);
}

.JobArea h1.Title span span{}

.JobArea .JobHead {
    margin: 10px 0 15px 0;
}

.JobArea .JobHead  h2{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    font-family: Roboto;
    margin: 0 0 -5px 0;
}


.JobArea .JobHead ul.nav-tabs {
    margin: 40px 0 0 0;
    border: none;
    display: flex;
}
.JobArea .JobHead ul.nav-tabs li {
    margin: 0 5px 0 0;
}
.JobArea .JobHead ul.nav-tabs li a {
    background-color: #e6e6e6;
    border-radius: 0;
    padding: 20px 6px 10px 6px;
    border: none;
    color: #000;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    margin: 0;
    width: 138px;
    text-align: center;
    min-height: 60px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}


.JobArea .JobHead ul.nav-tabs li a span{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #e6e6e6;
    padding: 6px;
    border-radius: 50%;
    top: -18px;
}

.JobArea .JobHead ul.nav-tabs li a span img{
    filter: brightness(0);
}

.JobArea .JobHead ul.nav-tabs li a:hover {
    background-color: #fbaf31;
    color: #fff;
}

.JobArea .JobHead ul.nav-tabs li a:hover span{
    background-color:  #fbaf31;
}

.JobArea .JobHead ul.nav-tabs li a:hover span img{
    filter: brightness(0) invert(1);
}

.JobArea .JobHead ul.nav-tabs li.active a {
    background-color: #00a94f;
    color: #fff;
}

.JobArea .JobHead ul.nav-tabs li.active a span{
    background-color: #00a94f;
}

.JobArea .JobHead ul.nav-tabs li.active a span img{
    filter: brightness(0) invert(1);
}


.JobArea .JobBody .JobSlider .item {
    padding: 20px 11px;
}

.JobArea .JobBody h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
}

.JobArea .JobBody h1 a{
    font-size: 16px;
    margin: 0 0 0 10px;
    text-transform: capitalize;
    color: #424040;
    text-decoration: underline;
}

.JobArea .JobBody h1 a i{}

.JobArea .JobBody h1 a:hover{
    color: #00a94f;
}

.JobsBox {
    box-shadow: 0 3px 6px #ddd;
}

.JobsBox figure {
    background-color: #000;
    height: 200px;
    overflow: hidden;
}

.JobsBox figure a {
    display: block;
    height: 100%
}

.JobsBox figure a img{
    height: 100%
}

.JobsBox figure span.Logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 85px;
    background: #ffffffe6;
    padding: 5px 10px;
}

.JobsBox figure span.Distance {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #00a94f;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
}

.JobsBox figcaption {
    padding: 15px;
    font-family: Roboto; 
    border-radius: 0 0 5px 5px;
}

.JobsBox figcaption .Distance{
    float: right;
    background-color: #00a94f;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 11px;
    font-family: Roboto;
    margin: 0 -5px 0 5px;
}

.JobsBox figcaption .Distance i{
    font-size: 9px;
    margin: 0 2px 0 0;
}

.JobsBox figcaption h3 {
    margin: 0 0 8px 0;
}

.JobsBox figcaption h3 a {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #696969;
    font-size: 14px;
    line-height: 21px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.JobsBox figcaption h3 a:hover {
    color: #000;
}

.JobsBox figcaption h4 {
    font-size: 17px;
    color: #00a94f;
    margin: 0 0 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.JobsBox figcaption h4 a {
    color: #00a94f;
}

.JobsBox figcaption h5 {
    margin: 0 0 7px 0;
    font-size: 15px;
}

.JobsBox figcaption p {
    font-size: 14px;
    margin: 0 0 15px 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.JobsBox figcaption ul {
    margin: 0 0 20px 0;
    min-height: 55px;
}

.JobsBox figcaption ul li {
    display: inline-block;
    font-family: Roboto;
    font-weight: 500;
    color: #000;
    margin: 0 15px 5px 0;
    position: relative;
}

.JobsBox figcaption ul li + li:before {
    content: "|";
    position: absolute;
    left: -9px;
    top: 0;
    color: #000;
}

.JobsBox figcaption ul li img {
    width: 20px !important;
    display: inline-block !important;
    filter: brightness(0);
    opacity: 0.5;
}

.JobsBox figcaption a.GetJob {
    background-color: #fbaf31;
    color: #fff;
    padding: 10px 25px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 14px;
    width: 140px;
    margin: auto;
    display: block;
    text-align: center;
}

.JobsBox figcaption a.GetJob:hover {
    background-color: #00a94f;
}

.SearchArea {
    padding: 30px 0 30px;
}
.SearchArea h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    border-left: 5px solid #084d87;
    padding: 0 0 0 16px;
    margin: 0 0 20px 0;
}

.SearchArea h1 a{
    font-size: 15px;
    color: #000;
    margin: 0 0 0 5px;
}

.SearchArea h1 span{
    font-size: 12px;
    font-family: Roboto;
    font-weight: 500;
    opacity: 0.8;
}

.SearchArea .SearchLeft form {
    background-color: #f5f5f5;
    padding: 30px 15px;
}

.SearchArea .SearchLeft form .form-group {
    margin: 0 0 20px 0;
    position: relative;
}

.SearchArea .SearchLeft form .form-group label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto;
}

.SearchArea .SearchLeft form .form-group .form-control {
    box-shadow: none;
    height: 40px;
    padding: 7px 15px;
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
}

.SearchArea .SearchLeft form .form-group .Icon{
    position: absolute;
    right: 25px;
    width: 18px;
    top: 35px;
}

.SearchArea .SearchLeft form .form-group .Icon.loctrack:before{ content: none; }

 
.SearchArea .SearchLeft form .form-group #txtPlaces{
    padding: 7px 35px 7px 15px;
}

.SearchArea .SearchLeft form .form-group .LevelTags h6{
    display: block;
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto;
    margin: 0 0 10px;
}

.SearchArea .SearchLeft form .form-group .LevelTags ul{
    margin: 0 0 -10px 0;
}

.SearchArea .SearchLeft form .form-group .LevelTags ul li{
    display: inline-block;
    margin: 0 10px 10px 0;
    position: relative;
} 

.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox input{
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox label{
    padding: 5px 8px;
    background: #fff;
    color: #747474;
    border-radius: 3px;
    font-size: 13px;
    margin: 0;
    min-width: 50px;
    text-align: center;
    font-weight: 400;
    border: 1px solid #ccc;
    cursor: pointer;
}

.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox input[type="checkbox"]:checked+label, 
.SearchArea .SearchLeft form .form-group .LevelTags ul li .Checkbox .Checked+label {
    background: #084d87;
    border-color: #084d87;
    color: #fff;
}

.SearchArea .SearchLeft form button {
    border: none;
    padding: 12px 40px;
    transition: 0.5s all ease-in-out;
    font-weight: 500;
    display: inline-block;
    position: relative;
    background-color: #fbaf31;
    font-size: 15px;
    color: #fff;
    outline: 0;
}

.SearchArea .SearchLeft form button:hover {
    background: #00a94f;
}

.SearchArea .SearchRight{
    height: 505px;
    width: 100%;
}

.SearchArea .SearchRight #map {
    width: 100%;
    height: 100% !important;
}

.Footer .FooterTop {
    background-color: #111;
    padding: 50px 0;
}
.Footer .FooterTop .Foot figure {
    width: 160px;
    margin: 0 0 20px 0;
}
.Footer .FooterTop .Foot p {
    padding: 0 0 0 20px;
    position: relative;
    margin: 0 0 10px;
    color: #adabab;
    font-family: Roboto;
    line-height: 24px;
}
.Footer .FooterTop .Foot p span {
    position: absolute;
    top: 0;
    left: 0;
}
.Footer .FooterTop .Foot p a {
    color: #fff;
}
.Footer .FooterTop .Foot h6 {
    margin: 0 0 0;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    font-weight: 800;
}
.Footer .FooterTop .Foot h3 {
    margin: 0 0 15px;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    color: #fff;
    font-weight: 800;
}
.Footer .FooterTop .Foot ul {
    padding: 0 0 0 20px;
}
.Footer .FooterTop .Foot ul li {
    margin: 0 0 15px;
    list-style: disc;
    color: #c7c7c7;
}
.Footer .FooterTop .Foot ul li a {
    color: #c7c7c7;
    font-size: 14px;
    font-family: Roboto;
}
.Footer .FooterTop .Foot ul li a:hover {
    color: #fff;
}
.Footer .FooterTop .Foot .DownloadApp .download-btn {
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 5px 25px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    float: left;
    margin: 0 0 20px 0;
    min-width: 210px;
}
.Footer .FooterTop .Foot .DownloadApp .download-btn span {
    font-size: 28px;
    line-height: 28px;
    margin-right: 10px;
    color: #fff;
}
.Footer .FooterTop .Foot .DownloadApp .download-btn p {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    line-height: 23px;
}
.Footer .FooterTop .Foot .DownloadApp .download-btn p small {
    font-size: 14px;
    line-height: 12px;
    font-family: roboto;
    font-weight: 400;
}
.Footer .FooterTop .Foot .DownloadApp a:hover {
    background: #fff;
}
.Footer .FooterTop .Foot .DownloadApp a:hover span {
    color: #111;
}
.Footer .FooterTop .Foot .DownloadApp a:hover p {
    color: #111;
}
.Footer .Copyright {
    background: #080808;
    padding: 10px 0;
}
.Footer .Copyright p {
    color: #fff;
    font-family: Roboto;
    margin: 8px 0;
}
.Footer .Copyright ul {
    text-align: right;
}
.Footer .Copyright ul li {
    display: inline-block;
    margin: 0 0 0 20px;
}
.Footer .Copyright ul li a {
    width: 35px;
    height: 35px;
    display: block;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 31px;
}
.Footer .Copyright ul li a:hover {
    background: #fff;
    color: #080808;
}


.VideoArea{
    padding: 0 0 30px 0;
}

.VideoArea h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    color: #000;
    font-size: 28px;
    border-left: 5px solid #084d87;
    padding: 0 0 0 16px;
    margin: 0 0 15px 0;
}

.VideoArea h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    font-family: Roboto;
    margin: 0 0 20px 0;
}

.VideoArea .owl-stage-outer{
    padding: 10px 0 30px;
}

.VideoArea .item{
    padding: 10px
}

.VideoArea .VideoBox{
    transform: scale(0.9);
    opacity: 0.8;
}

.VideoArea .VideoBox a{
    display: block;
}

.VideoArea .VideoBox figure{
    background-color: #000;
    height: 250px;
}

.VideoArea .VideoBox figure img{
    opacity: 0.8;
    height: 100%;
}

.VideoArea .VideoBox figcaption{
    padding: 15px 20px;
    font-family: Roboto;
    box-shadow: 0 3px 6px #ddd;
    border-radius: 0 0 5px 5px;
}

.VideoArea .VideoBox figcaption h5{
    margin: 0;
    color: #000;
    font-family: Roboto;
    font-size: 15px;
}

.VideoArea .VideoBox span{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    border: 4px solid #fff;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    line-height: 65px;
}

.VideoArea .VideoBox:hover span{
    background-color: #fff;
    color: #000;
}


.VideoArea #Check .center .VideoBox{
    transform: scale(1.1);
    opacity: 1;
}




#VideoModal .modal-dialog{
    width: 95%;
    max-width: 710px;
    margin: 80px auto;
} 

#VideoModal .modal-dialog .modal-content .modal-body{
    padding: 0;
}

#VideoModal .modal-dialog .modal-content .modal-body a.Close{
    position: absolute;
    right: -45px;
    color: #fff;
    font-size: 65px;
    top: 0px;
    height: 35px;
    line-height: 37px;
    font-weight: 200;
}

#VideoModal .modal-dialog .modal-content .modal-body iframe{
    width: 100% !important;
    border: none;
    margin: 0 0 -10px 0;
    height: 400px;
}



.CompanyArea .owl-carousel .owl-nav .owl-prev,
.CompanyArea .owl-carousel .owl-nav .owl-next,
.CityArea .owl-carousel .owl-nav .owl-prev,
.CityArea .owl-carousel .owl-nav .owl-next,
.VideoArea .owl-carousel .owl-nav .owl-prev,
.VideoArea .owl-carousel .owl-nav .owl-next,
.ExpertiseArea .owl-carousel .owl-nav .owl-prev,
.ExpertiseArea .owl-carousel .owl-nav .owl-next,
.JobSlider.owl-carousel .owl-nav .owl-prev,
.JobSlider.owl-carousel .owl-nav .owl-next{
    width: 35px;
    height: 35px;
    background-color: #ffff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    outline: 0;
} 

.CompanyArea .owl-carousel .owl-nav .owl-prev,
.CityArea .owl-carousel .owl-nav .owl-prev,
.VideoArea .owl-carousel .owl-nav .owl-prev,
.ExpertiseArea .owl-carousel .owl-nav .owl-prev,
.JobSlider.owl-carousel .owl-nav .owl-prev{
    left: -20px;
}

.CompanyArea .owl-carousel .owl-nav .owl-next,
.CityArea .owl-carousel .owl-nav .owl-next,
.VideoArea .owl-carousel .owl-nav .owl-next,
.ExpertiseArea .owl-carousel .owl-nav .owl-next,
.JobSlider.owl-carousel .owl-nav .owl-next{
    right: -20px;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover{
    background: #00a94f !important;
    color: #fff !important
}


.BG-Gray{
    background: #f5f7f6 !important;
}

.Loadmore {
    width: 200px;
    background-color: #084d87;
    display: block;
    text-align: center;
    margin: 20px auto 50px;
    padding: 14px 0;
    color: #ffffff;
    font-size: 16px;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.Loadmore:hover{
    background-color: #fbaf31;
    color: #fff;
}



.BannerArea{
    text-align: center;
    padding: 100px 0 40px 0;
    color: #fff;
    background-image: url('https://jobyoda.com/webfiles/img/Philippines.png') !important;
        background-position: right top;
}

.BannerArea:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000096;
    z-index: 1;
}

.BannerArea h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 35px;
    position: relative;
    margin: 0;
    z-index: 1;
}

.BannerArea h2{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto;
    margin: 10px 0 0px 0;
    z-index: 1;
    position: relative;
}


.AboutArea{
    padding: 50px 0;
}

.AboutArea .AboutBox{
    font-family: Roboto;
}

.AboutArea .AboutBox p{
    margin: 0 0 15px 0;
    font-size: 15px;
}

.AboutArea .AboutBox p strong{}

.modalbackground:before {
    content: '';
    background-color: #000000ad;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#VideoModal .modal-dialog .modal-content {
    box-shadow: none;
}

.modal-opennn{
    overflow:hidden;
}

.modal-opennn .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.CompanyInfoArea .CompanyInfoLeft .innersliders { 
    height: 300px !important;
}

.recomendSlider .item{ padding: 15px }
 

.managerpart .jobdeskyod .jobtxtsdesc.rfed.fullph .greenbtn{background-color:#00a94f;color:#fff;padding:10px 25px;border-radius:5px;font-family:Roboto;font-size:14px;display:inline-block}
.managerpart .jobdeskyod .jobtxtsdesc.rfed.fullph .greenbtn:hover{background-color:#fbaf31}

/* ********************************* 28 July ******************************** */
                  
.ExpertiseArea .ExpertiseBox{padding:40px 10px 35px 10px}

.LocationArea{padding:0 0 30px 0}
.LocationArea .item{padding:7px}

.Locations{font-family:Roboto}
.Locations figure{background-color:#000;height:175px}
.Locations figure .Gallery{position:absolute;top:10px;left:10px;z-index:9;background-color:#00a94f;width:30px;height:30px;text-align:center;padding:7px 0;border-radius:5px}
.Locations figure .Gallery a{color:#fff}
.Locations figure img{height:100%;opacity:.9}
.Locations figure span.Distance{position:absolute;right:10px;bottom:10px;background-color:#084d87;padding:5px 15px;color:#fff;border-radius:5px}
.Locations figcaption{padding:15px 15px;font-family:Roboto;box-shadow:0 3px 6px #ddd;border-radius:0 0 5px 5px;background-color:#fff}
.Locations figcaption h4{margin:0 0 10px}
.Locations figcaption h4 a{color:#000}
.Locations figcaption h4 a:hover{color:#00a94f}
.Locations figcaption h5{margin:0 0 5px;font-size:14px;line-height:21px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.Locations figcaption p{margin:0;font-size:15px;font-weight:500}

.CompanyInfoArea{padding:50px 0 30px 0}
.CompanyInfoArea .CompanyInfoLeft aside{position:relative;padding:0 0 0 135px;min-height:70px;margin:0 0 20px 0}
.CompanyInfoArea .CompanyInfoLeft aside figure{position:absolute;top:0;left:0;width:120px}
.CompanyInfoArea .CompanyInfoLeft aside h3{margin:0 0 10px;font-family:"Quicksand",sans-serif;font-weight:900;color:#000}
.CompanyInfoArea .CompanyInfoLeft aside h4{margin:0 0 0 0;color:#fbaf31;font-size:20px}
.CompanyInfoArea .CompanyInfoLeft aside h4 i{margin:0 3px 0 0}
.CompanyInfoArea .CompanyInfoLeft article{background-color:#efefef;padding:0 0;border-radius:10px;margin: 10px 0 0 0;}
.CompanyInfoArea .CompanyInfoLeft article ul{display:flex}
.CompanyInfoArea .CompanyInfoLeft article ul li{width:100%;text-align:center;padding: 15px 0;}
.CompanyInfoArea .CompanyInfoLeft article ul li h3{margin: 0 0 5px;font-family:"Quicksand",sans-serif;font-weight:900;color:#00a94f;font-size: 30px;}
.CompanyInfoArea .CompanyInfoLeft article ul li h3 i{ font-size: 25px; }
.CompanyInfoArea .CompanyInfoLeft article ul li h3 span{ font-size: 30px; }
.CompanyInfoArea .CompanyInfoLeft article ul li p{font-family:Roboto;font-size: 14px;color:#000;font-weight:500;}
.CompanyInfoArea .CompanyInfoRight h3{margin:0 0 10px;font-family:"Quicksand",sans-serif;font-weight:800;font-size:20px;color:#000}
.CompanyInfoArea .CompanyInfoRight p{font-size:15px;font-family:Roboto}
.CompanyInfoArea .CompanyInfoRight ul{margin:30px 0 0 0}
.CompanyInfoArea .CompanyInfoRight ul li{display:inline-block;width: 23%;text-align:center;margin: 10px 0 20px 0;}
.CompanyInfoArea .CompanyInfoRight ul li figure{width: 40px;height: 40px;background-color:#fbaf31;border-radius:50%;margin:0 auto 10px;display:flex;align-items:center;justify-content:center;}
.CompanyInfoArea .CompanyInfoRight ul li figure img{filter:brightness(0) invert(1);width: 25px;}
.CompanyInfoArea .CompanyInfoRight ul li span{font-weight:500;color:#3c3c3c;font-family:Roboto}
.CompanyInfoArea .CompanyInfoBottom{margin:20px 0 0 0}
.CompanyInfoArea .CompanyInfoBottom h3{font-family:"Quicksand",sans-serif;font-weight:800;color:#000;font-size:28px;margin:0 0 10px 0}
.CompanyInfoArea .CompanyInfoBottom p{font-size:14px;font-family:Roboto;line-height:30px}




/* ********************************************* 29 July 2020 ******************************** */

.JobListingArea{background-color:#ebebeb;padding:50px 0}
.JobListingBox aside{padding:25px;background-color:#fff;border-left:5px solid #00a94f;border-radius:10px;box-shadow:0 3px 10px #a7a7a7;display:block;position:relative;display:flex;font-family:Roboto;transition:0.5s all ease-in-out}
.JobListingBox aside+aside{margin:30px 0 0 0}
.JobListingBox aside figure{width:40%;position:relative;height: 180px;}
.JobListingBox aside figure a{display: block;height: 100%;}
.JobListingBox aside figure a img{width: 100%;height: 100%;}
.JobListingBox aside figure span.Wishlist{position:absolute;top:10px;right:10px;height:30px;width:30px;border-radius:20px;background-color:#fff;text-align:center;line-height:31px;color:#00a94f}
.JobListingBox aside figure span.Distance{position:absolute;left: 10px;top: 10px;background-color:#00a94f;padding:5px 15px;color:#fff;border-radius:5px;}
.JobListingBox aside figcaption{width:60%;padding:0 0 0 15px}
.JobListingBox aside figcaption h1{margin: 0 0 8px;font-size:15px;}
.JobListingBox aside figcaption h1 a{color:#5d5c5c}
.JobListingBox aside figcaption h1 a:hover{color:#fbaf31}
.JobListingBox aside figcaption h2{margin: 0 0 7px 0;font-size: 14px;}
.JobListingBox aside figcaption h2 a{color:#00a94f}
.JobListingBox aside figcaption h3{margin:0 0 10px 0;font-size: 14px;}
.JobListingBox aside figcaption h4{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;margin: 0 0 7px;font-size: 13px;font-weight:400;}
.JobListingBox aside figcaption h5{margin: 0 0 7px 0;font-size: 13px;line-height: 20px;color:#000;}
.JobListingBox aside figcaption ul{margin: 0 0 10px 0;}
.JobListingBox aside figcaption ul li{margin: 0 10px 0 0;display: inline-flex;font-family: Roboto;font-weight: 500;font-size: 13px;align-items: center;}
.JobListingBox aside figcaption ul li+li:befre{ content: '|'; }
.JobListingBox aside figcaption ul li figure{margin: 0 7px 0 0;width: 20px;height: auto;}
.JobListingBox aside figcaption ul li figure img{ margin: 0 }
.JobListingBox aside figcaption p a{background-color:#00a94f;color:#fff;padding:10px 25px;border-radius:5px;font-family:Roboto;font-size:14px;display:inline-block}
.JobListingBox aside figcaption p a:hover{background-color:#fbaf31}
.JobListingBox aside:hover{border-left:5px solid #fbaf31;background-color:#fbfbfb;box-shadow:none}

/*.JobListingRight ul{box-shadow:0 0 10px 0 rgba(0,24,128,.1);background-color:#fff}
.JobListingRight ul li{width:50%;display:flex;height:80px;border:1px solid #ebebeb;margin:0 0 0 0;float:left;padding:24px}
.JobListingRight ul li figure{display:flex;align-items:center;justify-content:center}*/
.JobListingRight{background-color:#fff;padding:15px;box-shadow:0 0 20px #b0b0b0;border-radius:6px;overflow:hidden}
.JobListingRight aside{background-color:#ebebeb;padding:15px}
.JobListingRight h3{font-family:"Quicksand",sans-serif;font-weight:800;font-size:17px;margin:0 0 10px;line-height:24px;color:#000}
.JobListingRight h4{margin:0 0 8px;font-size:14px;font-family:Roboto;line-height:23px;color:#000}
.JobListingRight p{margin:0 0 10px 0;font-size:13px;line-height:24px;color:#000;font-family:Roboto}
.JobListingRight .DownloadApp{position:relative;z-index:2;padding:0 0;display:block}
.JobListingRight .DownloadApp .download-btn{border:1px solid #00a94f;position:relative;overflow:hidden;align-items:center;padding:10px 25px;border-radius:4px;display:flex;float:left;margin:10px 0 0 0;min-width:100%;font-family:Roboto;background-color:#fff}
.JobListingRight .DownloadApp .download-btn span{font-size:28px;line-height:28px;margin-right:10px;color:#00a94f}
.JobListingRight .DownloadApp .download-btn p{font-size:19px;font-weight:500;color:#00a94f;margin:0;line-height:21px}
.JobListingRight .DownloadApp .download-btn p small{font-size:13px;line-height:12px;font-family:roboto;font-weight:500}
.JobListingRight .DownloadApp a:hover{background:#00a94f}
.JobListingRight .DownloadApp a:hover span{color:#fff}
.JobListingRight .DownloadApp a:hover p{color:#fff}
.JobListingRight figure{margin:0 0 20px 0}



.FaqArea{
    padding: 50px 0;
    background-color: #fbfbfb;
}

.FaqArea .FaqLeft{}

.FaqArea .FaqLeft .panel-group{}

.FaqArea .FaqLeft .panel-group .panel{
    border: none;
    box-shadow: 0px 1px 6px #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.FaqArea .FaqLeft .panel-group .panel+.panel{
    margin: 25px 0 0 0;
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading{
    cursor: pointer;
    padding: 20px 30px;
    position: relative;
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading h4{
    font-family: Roboto;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    margin: 0;
} 

.FaqArea .FaqLeft .panel-group .panel .panel-body{
    padding: 17px 30px;
}

.FaqArea .FaqLeft .panel-group .panel .panel-body p{
    font-size: 16px;
    line-height: 33px;
    font-family: Roboto;
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading:after {
    position: absolute;
    top: 20px;
    font-family: 'FontAwesome';
    content: '\f101';
    line-height: 20px;
    font-size: 23px;
    opacity: 1;
    font-style: inherit;
    right: 20px;
    transform: rotate(90deg);
}

.FaqArea .FaqLeft .panel-group .panel .panel-heading.collapsed:after {transform: rotate(0deg);}


.JobSeekerArea{
    display: flex;
}

.JobSeekerArea .JobSeekerLeft{
    width: 50%;
    padding: 100px 100px 100px;
    text-align: center;
    background-color: #f7f7f7;
}

.JobSeekerArea .JobSeekerLeft span{
    font-size: 60px;
}

.JobSeekerArea .JobSeekerLeft h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 40px;
    margin: 0 0 10px 0;
}

.JobSeekerArea .JobSeekerLeft p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    margin: 0 0 20px 0;
    min-height: 160px;
}

.JobSeekerArea .JobSeekerLeft a{
    padding: 12px 45px;
    border-radius: 50px;
    color: #000;
    font-size: 15px;
    text-transform: inherit;
    background-color: #fbaf31;
    display: inline-block;
    font-family: Roboto;
}

.JobSeekerArea .JobSeekerLeft a:hover{
    background-color: #00a94f;
    color: #fff;
}



.JobSeekerArea .JobSeekerRight{
    background-image: url('../images/Employee.png');
    width: 50%;
    padding: 100px 100px 100px;
    text-align: center;
    position: relative;
    color: #fff;
}
.JobSeekerArea .JobSeekerRight:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d6;
    z-index: 1;
}

.JobSeekerArea .JobSeekerRight span{
    font-size: 60px;
    position: relative;
    z-index: 2;
}

.JobSeekerArea .JobSeekerRight h3{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 40px;
    margin: 0 0 10px 0;
    z-index: 2;
}

.JobSeekerArea .JobSeekerRight p{
    font-family: Roboto;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    margin: 0 0 20px 0;
    z-index: 2;
    position: relative;
    min-height: 160px;
}

.JobSeekerArea .JobSeekerRight a{
    padding: 12px 45px;
    border-radius: 50px;
    color: #000;
    font-size: 15px;
    text-transform: inherit;
    background-color: #fbaf31;
    display: inline-block;
    font-family: Roboto;
    position: relative;
    z-index: 2;
}

.JobSeekerArea .JobSeekerRight a:hover{
    background-color: #00a94f;
    color: #fff;
}


.WorkArea{
    padding: 50px 0;
}

.WorkArea h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 35px;
    position: relative;
    margin: 0 0 40px 0;
    z-index: 1;
    text-align: center;
}

.WorkArea .WorkLeft{
    float: left;
    width: 45%;
    padding: 0px 0 0 0;
    position: relative;
}

.WorkArea .WorkLeft figure{
    position: absolute;
    top: 30px;
    right: -30px;
}

.WorkArea .WorkLeft h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 25px;
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    text-align: center;
}

.WorkArea .WorkLeft figcaption{
    position: relative;
}

.WorkArea .WorkLeft figcaption ul{
    display: flex;
}

.WorkArea .WorkLeft figcaption ul li{
    text-align: center;
    width: 100%;
}

.WorkArea .WorkLeft figcaption ul li span.Number{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #00a94f;
    border-radius: 50px;
    color: #fff;
    margin: 0 auto 0px;
    font-size: 16px;
    line-height: 34px;
}

.WorkArea .WorkLeft figcaption ul li span.Line{
    display: block;
    width: 2px;
    height: 50px;
    background-color: #00a94f;
    margin: auto;
}

.WorkArea .WorkLeft figcaption ul li span.Text{
    display: block;
    font-family: Roboto;
    font-size: 13px;
    margin: 20px 0 0 0;
}

.WorkArea .WorkImages{
    width: 10%;
    float: left;
    padding: 5px 0 0 0;
}

.WorkArea .WorkImages img{}

.WorkArea .WorkRight{
    float: left;
    width: 45%;
    padding: 0px 0 0 0;
    position: relative;
}

.WorkArea .WorkRight figure{
    position: absolute;
    top: 30px;
    left: -30px;
}

.WorkArea .WorkRight h1{
    font-family: "Quicksand", sans-serif;
    font-weight: 800;
    font-size: 25px;
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    text-align: center;
}

.WorkArea .WorkRight figcaption{
    position: relative;
}

.WorkArea .WorkRight figcaption ul{
    display: flex;
}

.WorkArea .WorkRight figcaption ul li{
    width: 100%;
    text-align: center;
}

.WorkArea .WorkRight figcaption ul li span.Number{
    display: block;
    width: 30px;
    height: 30px;
    background-color: #fbaf31;
    border-radius: 50px;
    color: #fff;
    margin: 0 auto 0px;
    font-size: 16px;
    line-height: 34px;
}

.WorkArea .WorkRight figcaption ul li span.Line{
    display: block;
    width: 2px;
    height: 50px;
    background-color: #fbaf31;
    margin: auto;
}

.WorkArea .WorkRight figcaption ul li span.Text{display: block;font-family: Roboto;font-size: 13px;margin: 20px 0 0 0;}




.FeaturejobBox{}


.JobListingBox #slidelists{ width: 100% }
.FeaturejobBox figure{width:40%;position:relative}

.FeaturejobBox figure span.Wishlist{position:absolute;top:10px;right:10px;height:30px;width:30px;border-radius:20px;background-color:#fff;text-align:center;line-height:31px;color:#00a94f}
.FeaturejobBox figure span.Distance{position:absolute;left: 10px;top: 10px;background-color:#00a94f;padding:5px 15px;color:#fff;border-radius:5px;}






.StatsArea{
    padding: 50px 0 0;
}

.StatsArea h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 40px;
    margin: 0 0 40px 0;
    text-align: center;
}

.StatsArea .StatsBox{
    text-align: center;
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 0 0 50px 0;
}

.StatsArea .StatsBox span.Icon{
    width: 70px;
    height: 70px;
    background-color: #fbaf31;
    display: block;
    margin: auto;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    line-height: 67px;
}

.StatsArea .StatsBox h3{
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 35px;
    margin: 25px 0 20px 0;
    text-align: center;
}

.StatsArea .StatsBox h3 span{}

.StatsArea .StatsBox p{
    font-family: Roboto;
    font-size: 16px;
}





.forminputspswd label input[type=checkbox]{
    position: absolute;
    top: -2px;
    left: 0;
}

.modal-dialog.signopopd .forminputspswd .btn-group {
    display: block;
    width: 100%;
    float: left;
}

.modal-dialog.signopopd .forminputspswd .btn-group button.multiselect{
width: 100%;
    margin: 0 15px 15px 0px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: #717171;
    padding: 12px 22px;
    border: 1px solid #bfbcbc;
    height: 48px;
    font-size: 13px;
    text-align: left;
}
.modal-dialog.signopopd .forminputspswd .btn-group ul {
    height: 300px;
    overflow: auto;
    width: 100%;
}


.modal-dialog.signopopd .forminputspswd .btn-group ul li{}

.modal-dialog.signopopd .forminputspswd .btn-group ul li .input-group{}

.modal-dialog.signopopd .forminputspswd .btn-group ul li .input-group span{
    display: none;
}

.modal-dialog.signopopd .forminputspswd .btn-group ul li .input-group input{
    width: 98%;
    margin: 0;
}

.modal-dialog.signopopd .forminputspswd .btn-group ul li .input-group{
    width: 100%;
}
.modal-dialog.signopopd .forminputspswd .btn-group ul li label input[type=checkbox] {
    position: relative;
    top: auto;
    left: auto; 
}

.Loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Circle {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00a94f;
    border-bottom: 16px solid #00a94f;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*new css start*/

h2.head{
     font-family: Roboto;
    font-size: 24px;
    color: #3a3a3a;
}
.inputAll{
    font-family: Roboto; 
    font-size: 16px;
    color: #707070;
}






