span.err {
    color: red
}

a:hover {
    text-decoration: none
}

.tech i.fa.fa-ellipsis-h {
    float: right
}

.progr span.progress-bar-tooltip {
    position: initial;
    color: #fff
}

.manage-jobs-sec {
    float: none;
    width: 100%;
    margin: 0 auto
}

.link a {
    background: #26ae61;
    color: #fff;
    word-break: keep-all;
    font-size: 11px;
    line-height: 0;
    padding: 10px
}

.link {
    float: left;
    width: 100px
}

.btn-extars {
    display: none
}

.inner-header {
    float: left;
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 15px;
    z-index: 0
}

.tree_widget-sec>ul>li.inner-child.active>a {
    color: #26ae61
}

.tree_widget-sec>ul>li.inner-child.active>a i {
    color: #26ae61
}

.contact-edit .srch-lctn:hover {
    background: #26ae61;
    color: #fff;
    border-color: #26ae61
}

.contact-edit .srch-lctn {
    color: #26ae61;
    border: 2px solid #26ae61;
    border: 2px solid #26ae61
}

.contact-edit>form button {
    border: 2px solid #26ae61
}

.profile-form-edit>form button:hover,
.contact-edit>form button:hover {
    background: #26ae61;
    color: #fff
}

.step.active i {
    background: #26ae61;
    border-color: #26ae61;
    color: #fff
}

.step i {
    color: #26ae61
}

.step.active span {
    color: #000
}

.menu-sec nav>ul>li.menu-item-has-children>a::before {
    display: none
}

.inner-header {
    float: left;
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 15px;
    z-index: 0
}

.manage-jobs-sec>table thead tr td {
    color: #26ae61
}

.extra-job-info>span i {
    float: left;
    font-size: 30px;
    color: #26ae61;
    width: 30px;
    margin-right: 12px
}

.action_job>li span {
    background: #26ae61
}

.action_job>li span::before {
    background: #26ae61
}

.action_job>li {
    float: left;
    margin: 0;
    position: relative;
    width: 15px
}

.manage-jobs-sec>h3 {
    padding-left: 0;
    margin-top: 40px;
    text-align: center
}

.fall {
    float: left;
    width: 100%;
    border: 1px solid#ddd;
    padding: 23px 10px
}

.progress-bar {
    background-color: #47b476
}

.details {
    float: left;
    width: 100%;
    padding: 5px 17px;
    background-color: #47b476;
    color: #fff;
    margin: 15px;
    border-radius: 20px
}

.leftdetails {
    float: left;
    width: 100%
}

.left {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0
}

.detail span {
    display: block;
    float: right;
    margin: 12px 8px;
    border: 1px solid#ddd;
    padding: 10px
}

.detail strong {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0 55px;
    font-weight: 700;
    font-size: 20px
}

.detail,
.detai {
    float: left;
    width: 100%
}

.detai span {
    display: -webkit-box;
    width: 100%;
    font-weight: 600;
    margin: 0;
    padding: 12px 0;
    font-size: 20px
}

.progras {
    float: left;
    width: 100%;
    border: 1px solid#ddd;
    padding: 10px
}

.detai strong {
    float: right;
    font-size: 20px
}

.detail p,
.detai p {
    font-weight: 600;
    font-size: 16px;
    color: #000
}

.detail .progress span {
    position: absolute;
    right: 0;
    font-size: 13px;
    color: #fff;
    border: 0 solid#ddd
}

.head {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #47b476;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px
}

.num {
    float: left;
    margin: 20px 0
}

.para {
    float: left;
    width: 100%;
    border: 1px solid#dddd;
    padding: 10px;
    background-color: #47b476;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px
}

.tech {
    float: left;
    width: 100%;
    border: 1px solid#ddd;
    padding: 10px;
    margin: 10px 0
}

.search-container {
    float: left
}

.search button {
    padding: 7px 4px;
    color: #fff;
    background-color: #47b476;
    border: none;
    width: 36%
}

.upload a {
    color: #fff;
    text-decoration: none;
    background: #47b476;
    padding: 10px;
    border-radius: 50px
}

.search input[type="text"] {
    padding: 9px 6px;
    width: 63%;
    background-color: #fff;
    border: 1px solid#ddd
}

.details i.fa.fa-filter {
    float: right;
    margin: 5px 0;
    padding: 0
}

.details p {
    float: left;
    margin: 0;
    padding: 0;
    color: #fff
}

.head p {
    color: #fff
}

.para p {
    color: #fff
}

.upload {
    float: right;
    padding: 8px;
    margin: px
}

border:1px solid#ddd;
padding:10px
}
.dot {
    float: right
}
.progr {
    float: left;
    width: 100%;
    margin-bottom: 18px
}
.progr .progress {
    position: absolute;
    left: 9%;
    height: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    top: initial;
    width: 80%
}
.progr .progress-label {
    margin: 12px 0
}
.progress-bar.progress-bar-primary {
    padding: 0
}
.texts p {
    position: absolute;
    top: 70%;
    left: 29%
}
p.dropdown-toggle {
    font-size: 34px;
    margin: -30px
}
.dot {
    float: right
}
.texts {
    margin-top: 20px
}
.text p {
    margin: 0;
    padding: 0;
    font-size: 13px
}
.right .progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative
}
.right .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0
}
.right .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1
}
.progress .progress-left {
    left: 0
}
.right .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 0
}
.right .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left
}
.right .progress .progress-right {
    right: 0
}
.right .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards
}
.right .progress .progress-value {
    width: 59%;
    height: 59%;
    border-radius: 50%;
    border: 2px solid #ebebeb;
    font-size: 28px;
    line-height: 82px;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 7.5%
}
.right .progress.blue .progress-bar {
    border-color: #049dff
}
.right .progress.blue .progress-value {
    color: #47b476
}
.right .progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s
}
.progress.yellow .progress-bar {
    border-color: #fdba04
}
.right .progress.yellow .progress-value {
    color: #fdba04
}
.right .progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s
}
.right .progress.pink .progress-bar {
    border-color: #ed687c
}
.right .progress.pink .progress-value {
    color: #ed687c
}
.right .progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s
}
.right .progress.green .progress-bar {
    border-color: #1abc9c
}
.right .progress.green .progress-value {
    color: #1abc9c
}
.right .progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s
}
@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}
@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg)
    }
}
@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
}
@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg)
    }
}
@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    
    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg)
    }
}
@media only screen and (max-width:990px) {
    .right .progress {
        margin-bottom: 20px
    }
}
.filterchekers .checkedColor {
    background: #27aa60;
    color: #fff;
    cursor: pointer
}
.checked_value {
    width: 100px;
    height: 52px
}
input[type="checkbox"],
input[type="radio"] {
    z-index: 0!important
}
.psthbs .companyprofileforms.fullwidthform .filldetails {
    width: 100%
}
.filldetails.flxdtls {
    display: flex
}
.filldetails.flxdtls .stepcountfrms {
    margin: 0 14px
}
button.updts {
    float: none;
    margin: 0 auto;
    width: 12%
}