.share-bar a.share-twitter {
    color: #26ae61;
    border-color: #26ae61
}

.share-bar a.share-fb {
    color: #26ae61;
    border-color: #26ae61
}

.share-bar a.share-google {
    color: #26ae61;
    border-color: #26ae61
}

.download-cv a:hover {
    background-color: #26ae61;
    color: #FFF
}

.download-cv a {
    float: right;
    background: #fff;
    border: 2px solid #26ae61;
    color: #000
}

.download-cv p {
    float: right;
    width: 100%
}

.job-overview ul>li i {
    position: absolute;
    left: 23px;
    top: 5px;
    font-size: 30px;
    color: #26ae61
}

.edu-hisinfo>h3 {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 15px;
    color: #26ae61;
    margin: 0;
    margin-top: 0;
    margin-top: 10px
}

.edu-history.style2>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #26ae61;
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.quick-form-job form button:hover {
    background: #26ae61;
    border: 2px solid #26ae61;
    color: white
}

.quick-form-job form button {
    background: #26ae61
}

.quick-form-job form button {
    background: #26ae61;
    border: 2px solid #26ae61;
    color: white;
    border: none
}

.cmp-follow a img {
    float: none;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 100px;
    max-height: 100px
}

.mportolio:hover>a {
    opacity: 0
}

.progress {
    background: #26ae61
}

.cand-extralink>li.active a {
    border-bottom: 2px solid #26ae61
}

.cand-extralink>li:hover a {
    color: #000;
    border-color: #26ae61
}

.share-bar a.share-fb:hover {
    background: #26ae61;
    border-color: #26ae61;
    color: #fff
}

.cand-single-user .share-bar.circle a {
    background: #26ae61;
    border-color: #26ae61;
    color: #fff
}

.btn-extars {
    float: right;
    display: none
}

.inner-header {
    padding-top: 93px!important
}

.insertMsg {
    color: green
}

.inner-header {
    display: none
}

.CandidateProfile .CandidateInfo {
    position: relative;
    padding: 8px 150px 0 170px
}

.CandidateProfile .CandidateInfo figure {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #51be80;
    position: absolute;
    top: 0;
    left: 0
}

.CandidateProfile .CandidateInfo figure img {
    width: 100%;
    height: 100%
}

.CandidateProfile .CandidateInfo h3 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin: 0 0 9px;
    line-height: 25px
}

.CandidateProfile .CandidateInfo h4 {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    margin: 0 0 7px 0
}

.CandidateProfile .CandidateInfo p {
    font-size: 15px;
    margin: 0 0 0 0;
    line-height: 25px
}

.CandidateProfile .DownloadCV {
    position: absolute;
    top: 0;
    right: 0
}

.CandidateProfile .DownloadCV a {
    background-color: #fff;
    padding: 11px 27px;
    display: inline-block;
    border: 2px solid #fff;
    color: #47b476;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: .5px;
    border-radius: 50px;
    transition: 0.5s all ease-in-out
}

.CandidateProfile .DownloadCV a:hover {
    background-color: #1b7542;
    color: #fff
}

a.Back {
    float: right;
    margin: -20px 0 0 0;
    background-color: #feab28;
    padding: 7px 18px;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    transition: 0.5s all ease-in-out
}

a.Back .fa {
    margin: 0 8px 0 0
}

a.Back:hover {
    background-color: #47b476;
    color: #fff
}

.CandidateProfile {
    margin: 25px 0 0 0;
    background-color: #8cc4a4;
    padding: 20px
}

.CandidateProfile .CandidateInfo {
    position: relative;
    padding: 8px 250px 0 170px
}

.CandidateProfile .CandidateInfo h3 {
    font-size: 21px;
    font-weight: 500;
    color: #000;
    margin: 0 0 6px;
    line-height: 22px
}

.CandidateProfile .CandidateInfo figure {
    border: 5px solid #fff
}

.CandidateProfile .CandidateInfo h4 {
    font-weight: 500;
    color: #000;
    font-size: 15px;
    margin: 0 0 10px 0
}

.CandidateProfile .CandidateInfo ul li {
    width: 49%;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    padding: 0 0 0 20px;
    position: relative;
    line-height: 21px;
    margin: 0 0 8px;
    color: #000
}

.CandidateProfile .CandidateInfo ul li span {
    position: absolute;
    top: 0;
    left: 0
}

.CandidateProfile .DownloadCV {
    width: 250px;
    height: 148px
}

.CandidateProfile .DownloadCV a {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: #2d9e5e;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 125px
}

.CandidateWork {
    margin: 50px 0 0 0
}

.CandidateWork .CandidateLeft {
    width: 30%;
    float: left
}

.CandidateWork .CandidateLeft ul {
    padding: 0;
    width: 95%;
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 8px 10px #ddd
}

.CandidateWork .CandidateLeft ul li {
    display: block;
    margin: 0
}

.CandidateWork .CandidateLeft ul li a {
    display: block;
    float: none;
    text-align: left;
    margin: 0;
    border: none;
    padding: 15px 20px;
    border-radius: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    transition: 0.5s all ease-in-out
}

.CandidateWork .CandidateLeft ul li:last-child a {
    border: none
}

.CandidateWork .CandidateLeft ul li a:hover,
.CandidateWork .CandidateLeft ul li a.active {
    background-color: #feab28;
    color: #fff
}

.CandidateWork .CandidateRight {
    float: left;
    width: 70%;
    padding: 0 0 0 10px
}

h2.Title {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    color: #000
}

.Companies_Follow {
    float: left;
    width: 100%;
    margin: 40px 0 0 0
}

.Companies_Follow ul li {
    font-size: 18px;
    font-weight: 500;
    color: #5d5a5a
}

.Companies_Follow ul li span {
    font-size: 35px;
    color: #000
}

.Educationss {
    position: relative;
    padding: 0 0 0 60px;
    margin: 0 0 20px
}

.Educationss span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 45px;
    color: #000;
    line-height: 15px
}

.Educationss h3 {
    font-weight: 600;
    color: #000;
    font-size: 18px;
    margin: 0 0 4px
}

.Educationss h4 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin: 0 0 3px
}

.Educationss p {
    margin: 0;
    line-height: 18px;
    font-size: 13px;
    font-weight: 500
}

#education,
#experience,
#skills,
#languages,
#assessment,
#expert,
.Companies_Follow {
    background-color: #fff;
    padding: 20px;
    margin: 0 0 30px 0;
    box-shadow: 0 8px 10px #ddd
}

section.overlape {
    background: #f5f5f5;
    margin: 0 0 0 0;
    padding: 20px 0 0 0
}

.progressbar {
    height: 16px
}

.quick-form-job form {
    background-color: #fff
}

.quick-form-job {
    margin-top: 0
}

.quick-form-job>h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 500;
    color: #000
}

.darkHeader {
    position: fixed;
    top: 130px;
    max-width: 260px
}

.dark {
    margin: 0 0 0 30%
}

.quick-form-job form button {
    border: none!important
}

@media screen and (max-width:500px) {
    .CandidateProfile .CandidateInfo {
        padding: 8px 0 0 130px
    }
    .CandidateProfile .CandidateInfo figure {
        width: 115px;
        height: 115px
    }
    .CandidateProfile .DownloadCV {
        position: relative;
        margin: 15px 0 0 0;
        text-align: center
    }
    .CandidateProfile .DownloadCV a {
        border-color: #51be80
    }
}